{% if count != 0 %}
<h4>Resultados: {{ count }}</h4>
	<div ="row">
		<table class="table table-hover">
			<tr>
				<th>Profesor</th>
				<th>Universidad</th>
				<th>Departamento</th>
				<th>Puntuación</th>
			</tr>
			{% for professor in professorsList %}
				<tr>
					<td>
						<a href="{% url 'home:professor-detail' professor.id %}">{{ professor.first_name }} {{ professor.last_name }}</a>
					</td>
					<td>{{ professor.university_name }}</td>
					<td>{{ professor.department_name }}</td>
					<td>%{% widthratio professor.score 1 100 %}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% else %}
	<div class="alert alert-danger">
		No se encontro ningun profesor con el nombre: {{ keyword }}
	</div>
{% endif %}
