{% if professorsList.count != 0 %}
	{% if professorsList.count %}
		<h5> {{ professorsList.results|length }} resultado{{ professorsList.results|pluralize }}.</h5>
		<div ="row">
			<table class="table table-hover">
				<tr>
					<th>Profesor</th>
					<th>Universidad</th>
					<th>Departamento</th>
					<th>Puntuación</th>
				</tr>
				{% for professor in professorsList.results %}
					<tr>
						<td>
							<a href="{% url 'search:professor-detail' professor.id %}">{{ professor.first_name }} {{ professor.last_name }}</a>
						</td>
						<td>{{ professor.university_name }}</td>
						<td>{{ professor.department_name }}</td>
						<td class="star">
							{% for i in "12345" %}
								{% if i|add:0 <= professor.star_score %}
									<i class="glyphicon glyphicon-star"></i>
								{% else %}
									<i class="glyphicon glyphicon-star-empty"></i>
								{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<!--
		{# {% if professorsList.next %}
			<div class="row">
				<div class="col-sm-12 text-center">
					<ul class="pagination">
						{% if professorsList.previous %}
							<li class=""><a href="?page{{ professorsList.previous }}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><a>&laquo;</a></li>
						{% endif %}

						<li class="active"><a href="#">{{ page }}</a></li>

						{% if professorsList.next %}
							<li><a href="{% url 'search:professor-list' %}?url={{ professorsList.next }}">&raquo;</a></li>
							<button ng-click="pagination(){{ professorsList.next }}"></button>
						{% else %}
							<li class="disabled"><a>&raquo;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %} #}
	-->
	{% else %}
		<div class="alert alert-warning">
			No se escribio ningun texto.
		</div>
	{% endif %}
{% else %}
	<div class="alert alert-danger">
		No se encontro ningun profesor con el nombre: {{ keyword }}
	</div>
{% endif %}
